{%extends 'base.html'%}
{%block content%}
<h2>Order #{{ order.id }}</h2>

<h3>Items:</h3>
<ul>
  {% for i in items %}
    <li>{{ i.item.name }} — Qty: {{ i.quantity }} — {{ i.item.price }} BD</li>
  {% endfor %}
</ul>

<p>Total: {{ order.total_amount }} BD</p>
<button><a href="{% url 'orders_list' %}">back</a></button>
{%if user.profile.role == 'owner' and order.order_status == 'P'%}
<button><a href="{% url 'change_order_status' order.id %}">Ready</a></button>
{%elif user.profile.role == 'driver' and order.order_status == 'R'%}
<button><a href="{% url 'change_order_status' order.id %}">Picked up</a></button>
{%elif user.profile.role == 'driver' and order.order_status == 'PU'%}
<button><a href="{% url 'change_order_status' order.id %}">Delivered</a></button>
{%endif%}

{%endblock%}
