{%extends 'base.html'%} {%block content%}
<div>
  <div>
    {%load static%} <img src={% static restaurant.image|cut:'main_app/static/'%}
    alt="" style="width:200px;">
    <br />
    <h1>{{restaurant.name}} in {{restaurant.get_city_display}}</h1>
    <h2>{{restaurant.description}}</h2>
    <p>Categories:</p>
    <ul>
      {%for category in restaurant.categories.all%}
      <li>{{category.name}}</li>
      {%endfor%}
    </ul>
    {%if user.profile.role == 'owner'%} {% if not restaurant.is_open%}
    <p>Open at {{restaurant.open_at|time:"h:i A"}}</p>
    <p>Close at {{restaurant.close_at|time:"h:i A"}}</p>
    {%endif%}
    <a href="{%url 'restaurant_update' restaurant.id%}"
      >Update {{restaurant.name}} restaurant</a
    >
    <br />
    <a href="{%url 'restaurant_delete' restaurant.id%}"
      >Delete {{restaurant.name}} restaurant</a
    >

    <br />
    {%else%} {% if not restaurant.is_open%}
    <p>
      {{restaurant.name}} is closed now and open at
      {{restaurant.open_at|time:"h:i A"}}
    </p>
    {%else%}
    <p>{{restaurant.name}} close at {{restaurant.close_at|time:"h:i A"}}</p>
    '' {%endif%} {%endif%}
    <a href="{%url 'restaurants_index'%}">Back</a>
  </div>
  <hr />
  <div>
    <h1>Add A New Item</h1>
    <form
      action="{% url 'add_item' restaurant.id %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {{ item_form.as_p }}
      <input type="submit" value="Add Item" class="btn" />
    </form>
  </div>
  <div>
    {% for item in restaurant.item_set.all %}
    <h3>{{ item.name }}</h3>
    <p>Description: {{item.description }}</p>
    <p>price: {{ item.price }}BD</p>
    <div>
      {% load static %}
      <img
        src="{%static item.image|cut:'main_app/static/' %}"
        alt="Item image"
      />
    </div>
    <div>
      {% if user.profile.role  == "owner" %}
      <a href="{% url 'item_update' item.id %}">Edit</a>
      <a href="{% url 'item_delete' item.id%}">Delete</a>
      {% endif %}
    </div>
    {% if user.profile.role == "customer" %}
    <form action="{% url 'addToCart' user.id item.id %}" method="post">
      {% csrf_token %} {{ add_to_cart_form.as_p }}
      <input type="submit" value="Add To Cart" />
    </form>
    {% endif %} {% endfor%}
  </div>
</div>
{%endblock%}
