{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jo3aan</title>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;Jo3aan</a
              >
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'profile' %}">Profile</a>
            </li>

            {% if user.profile.role == "customer" %}
            <li>
              <a href="{% url 'viewCart' user.id %}">Cart</a>
            </li>

            <li><a href="{% url 'customer_orders' user.id %}">Orders</a></li>

            {% endif %} {% if user.profile.role == "owner" %}

              <li><a href="{% url 'restaurant_orders' %}">Orders</a></li>
              <li>
              <a href="{% url 'restaurant_create' %}">Create restaurant</a>
            </li>



            {% endif %}
            <li><a href="{% url 'restaurants_index' %}">View restaurants</a>
            </li>
            <li>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
            {% else %}

            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">All Rights Reserved, &copy, 2025 Jo3aan &nbsp;</div>
    </footer>
  </body>
</html>
